@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: #c2622a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(56, 230, 50), #bbd13f, #23270f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(56, 230, 50), #bbd13f, #23270f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}